@{
    ViewData["Title"] = "HowToWebWork";
}

<style>
    
    h1 {
        color: #4b4b4b;
        font-family: 'Yekan';
        direction:rtl;
    }
    p{
        font-family: 'Yekan';
        direction: rtl;
    }

</style>


<h1>وب چگونه کار می کند؟ </h1>
<p>
    این مقاله ترجمه غیر رسمی از سایت developer.mozilla.org به همراه تغییرات و توضیحات اضافی است. در این مقاله سعی شده با کمترین جزئیات، نحوه عملکرد وب شرح داده شود. نیاز به توضیح نیست که ذکر جزئیات بیشتر، یادگیری را برای افراد تازه کار مشکل می کند.
    این مقاله در ادامه مقاله ((اینترنت چگونه کار می کند؟)) منتشر شده است. برای درک بهتر موضوعات این مقاله، پیشنهاد می شود مقاله قبلی را مطالعه کنید.
</p>
<h1>کامپیوتر های کلاینت(Clients) و سرور(servers)</h1>
<p>
    کامپیوتر های موجود در وب به دو دسته تقسیم می شوند: کلاینت ها و سرور ها. دیاگرام زیر نحوه ارتباط این دو کامپیوتر را به شکل ساده نشان می دهد.
</p>
<img src="~/img/quytxihqacbd.jpeg" />