
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@




<style>
    h1 {
        background-color: darkslategrey;
        color: yellow;
        padding: 1rem;
        border-radius: 1rem;
    }
</style>

<h1>Partial View</h1>