@{
    ViewData["Title"] = "Privacy Policy";
}
@section Seo{
    <meta name="keywords" content="Manage Keywords Seo By RenderSection">
    <meta name="description" content="Manage Description Seo By RenderSection">
}


<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>


@section BaseJS{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
}


@section Footer{
    <script src="~/js/Test.js" asp-append-version="true"></script>
}