
@{
    ViewData["Title"] = "ViewResult";
}

<style>
    h1{
        background-color:darkslategrey;
        color:yellow;
        padding:1rem;
        border-radius:1rem;
    }
</style>


<h1>ViewResult</h1>

<a href="c:\users\aminmoharrami\source\repos\notebook\notebook\wwwroot\text.txt">c:\users\aminmoharrami\source\repos\notebook\notebook\wwwroot\text.txt</a>